a{
			color: #000;
		}
		#prolistleft {
			width: 250px;
			float: left;
			border:solid 1px #ccc;
			/*height: 600px;*/
		}
		#prolistright{
			width: 830px;
			float: left;
			border:solid 1px #ccc;
			/*height: 600px;*/
			margin-left:20px;
		}
		#box1{}
		#box1 h1 {
			background-color: #363601;;
			height: 35px;
			color: #fff;
			line-height: 35px;
			font-size: 18px;
			text-indent: 20px;
		}
		#box1 ul {
			list-style: none;
		}
		#box1 ul li {
			background-color: #DBDDE6;
			line-height: 30px;
			border-bottom: 1px solid #FFF;
			text-indent: 20px;
		}
		
		#box2{}
		#box2 h1 {
			background-color: #363601;;
			height: 35px;
			color: #fff;
			line-height: 35px;
			font-size: 18px;
			text-indent: 20px;
		}
		#box2 ul {
			list-style: none;
		}
		#box2 ul li {
			background-color: #FFF;
			line-height: 25px;
			border-bottom: 1px solid #FFF;
			text-indent: 20px;
		}

		#box3{}
		#box3 h1 {
			background-color: #363601;;
			height: 35px;
			color: #fff;
			line-height: 35px;
			font-size: 18px;
			text-indent: 20px;
		}
		#box3 ul {
			list-style: none;
		}
		#box3 ul li {
			background-color: #DBDDE6;
			line-height: 30px;
			border-bottom: 1px solid #FFF;
			text-indent: 20px;
		}
		.topimg {
			padding: 10px;
			border-bottom: dotted 1px #333; 
		}
		
		#prolist ul{
			list-style: none;
			width: 830px;
		}
		#prolist ul li {
			display: inline-block;
			margin-left: 10px;			
		}
		#prolistright {
			border:none;
		}
	
		#prolist ul {
			border:1px solid #DBDDE6;
			padding: 5px;
		}

		#newlist{}
		#newlist ol {
			/*list-style:none;*/
			margin-left: 20px;
		}
		#newlist ol li {
			line-height: 30px;
			height: 30px;
			position: relative;
		}
		#newlist ol li a {
			color: #666;
		}
		#newlist ol li:hover, #newlist ol li a:hover {
			color: #f00;
		}
		#newlist ol li span {
			position: absolute;
			right: 10px;
		}

		#page {
			text-align: center;
			margin-top: 50px;
		}
		#page a,#page span {
			border: 1px solid #f9d52b;
			padding: 5px 7px;
			color: #767675;
			cursor: pointer;
		}
		#page a:hover,#page span:hover {
			color: red;
		}

		#toword {
			width: 500px;
			min-height: 400px;
			border:1px solid #ccc;
			border-collapse: collapse;
			margin: 20px auto
			;
		}
		#toword td {
			border:1px solid #ccc;

		}
		.tb1{
			width: 100px;
			text-align: center;
		}